@tailwind base;
@tailwind components;
@tailwind utilities;

.my-btn {
  @apply bg-gradient-to-r from-pink-500 to-orange-400 hover:from-orange-500 hover:to-pink-400 text-white px-4 py-2 rounded-md font-bold transition duration-300 ease-in-out
}

.my-text {
  background: linear-gradient(45deg, #fff27a, #ff4500);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.my-bg {
  @apply bg-orange-100;
}
.my-text-gr {
  background: linear-gradient(45deg, #ffa07a, #ff4500);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.my-btn-blue {
  @apply bg-blue-200 text-blue-800 rounded-full py-1 px-3 mr-2 mb-2;
}
.my-btn-green {
  @apply bg-green-200 text-green-800 rounded-full py-1 px-3 mr-2 mb-2;
}
.my-btn-yellow {
  @apply bg-yellow-100 text-yellow-600 rounded-full py-1 px-3 mr-2 mb-2;
}
.my-btn-orange {
  @apply bg-orange-200 text-orange-800 rounded-full py-1 px-3 mr-2 mb-2;
}
